<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Die Kamera kommt erst mit dem naechsten Schritt; dieser Stand prueft
         nur, ob Python, numpy und OpenCV auf dem Geraet laufen. -->

    <application
        android:allowBackup="false"
        android:label="Kegel_CV"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
